*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-top: 0px;
}
.header{
     background-color: #edf0f1;
     padding: 1rem 0;
     
   
}
.h1{
    margin-bottom: 30px;
}

.container{
      display: flex;
      margin-bottom:30px ;
      justify-content: center;
      gap: 20px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    gap: 1px;
    cursor: pointer;
}
.NameInp{
    width: 200px;
    padding: 8px;
}
.btn{
    padding: 8px 15px;
    margin-left: 10px;
    margin-top: 70px;
    cursor: pointer;
}